@tailwind base;
@tailwind components;
@tailwind utilities;


/* Apply Bricolage Grotesque font globally */
body {
  font-family: 'Bricolage Grotesque', sans-serif;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Hide scrollbars */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Ripple animation */
@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 0.6;
  }
  to {
    transform: scale(4);
    opacity: 0;
  }
  svg.lucide {
    stroke: currentColor !important;
    fill: none !important;
    color: #000 !important; /* you can change to #004AAD or brand color */
    width: 16px !important;
    height: 16px !important;
    visibility: visible !important;
    display: inline-block !important;
  }

  /* Keep buttons, backgrounds, and layout clean */
  button {
    display: none !important; /* hides print/export buttons */
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

.animate-ripple {
  animation: ripple 0.6s linear;
  position: absolute;
  pointer-events: none;
  transform: scale(0);
}
.social-icon {
  font-size: 24px; /* Adjust size as needed */
  margin: 0 10px; /* Add spacing between icons */
  text-decoration: none; /* Remove underline from links */
  color: white; /* Default icon color */
}
